rules:
    - ThibaudDauce\PHPStanBlade\ViewFunctionRule

services:
    - PhpParser\ConstExprEvaluator
    - ThibaudDauce\PHPStanBlade\LaravelContainer
    - ThibaudDauce\PHPStanBlade\CacheManager
    errorFormatter.blade:
        class: ThibaudDauce\PHPStanBlade\BladeFormatter
